{
  "include": [
    "packages/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/__tests__/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text",
    "html",
    "lcov"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true
}